@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    color: rgb(233, 229, 16);
    background-color: black;
}
.letra
{
    font-size: 20px;
    text-align: center;
    margin: 400px  auto;
}
.fig{
    background: url(soldado.png) no-repeat ;
    width: 200px;
    height: 220px;
    
    position: relative;
    margin: 0 auto;
    margin-top: -800px;

}
.fig:hover{
    color: rgb(255, 187, 0);
    background-color: rgb(126, 145, 128);
    border-radius: 20px;
   
}
.letra:hover{
    color: rgb(255, 187, 0);
    background-color: rgb(126, 145, 128);
    border-radius: 20px;
    font-family: 'Silkscreen', cursive;
}
.as{
    color: aliceblue;

}